body{
    background-color: #1f1f1f;
    color: #cac5c5;
    overflow-x: hidden;
}

h1,h2,h3,h4,p{
    line-height: 1.4em;
}

h2{
    font-size: medium;
}

h3{
    font-size: small;
}

html{
    scroll-behavior: smooth;
}


